.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
.DS_Store
*.RDS

#Ignore raw sequencing data
PancDB_data

#Ignore archived files
Archives/*

#Ignore web summaries
web_summaries/

#Ignore test folders
testFolder
backup-testFolder
