.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
.DS_Store
*.RDS
.ipynb_checkpoints/*

#Ignore test outputs
*.log
*.swarm
*_swarm.txt

#Ignore archived files
Archives/*

#Ignore web summaries
web_summaries/

#Ignore test folders
testFolder
backup-testFolder
summary_transfer
transfer_folder
__pycache__
